# Entorno virtual de Python
    /backend/venv/
    
    # Archivos de caché de Python
    __pycache__/
    *.pyc
    
    # Base de datos local (si la usaste para pruebas)
    *.db
    *.sqlite3
    
    # Archivos de configuración de VS Code
    .vscode/
    ```

---